<div class="talk">
  <h3>
    <a href="{{ event.url }}" target="_blank">{{ event.name }}</a>
    <br>
    {{ event.title }}
  </h3>

  {% if event.slides %}
    <a href="{{ event.slides }}">SLIDES</a>
  {% endif %}

  {% if event.video %}
    {% if event.slides %}&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}
    <a href="{{ event.video }}">VIDEO</a>
  {% endif %}

  {% if event.audio %}
    {% if event.slides or event.video %}&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}
    <a href="{{ event.audio }}">AUDIO</a>
  {% endif %}

  {% if event.details %}
    <a href="{{ event.details }}">DETAILS</a>
  {% endif %}

  <pre>{{ event.date | formatTalkDate }} | {{ event.city | upper if event.city else "ONLINE" }}<br/>{% if event.comment %}<i>{{ event.comment | upper }}</i>{% endif %}</pre>
</div>
