.header {
  max-width: none;
  width: 100%;
  text-transform: capitalize;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.header__content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
  padding: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.site-title {
  font-size: var(--text-xl);
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-shrink: 0;
}

.site-title a {
  color: rgb(6 6 6);
  text-decoration: none;
}

.site-title a:hover {
  color: rgb(41, 41, 41);
}

.nav__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  list-style: none;
  font-size: var(--text-sm);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
  gap: 1rem;
}

.nav__list a {
  color: rgb(117, 117, 117);
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.nav__list li {
  margin-right: 0;
}

.nav__list a:hover {
  color: rgb(41, 41, 41);
}
