@import 'global.css';
@import 'variable.css';
@import 'prism-theme.css';
@import 'typography.css';
@import 'post-list.css';
@import 'hero.css';
@import 'header.css';
@import 'footer.css';
@import 'post.css';
@import 'about.css';

.layout-wrapper {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  min-height: 100%;
}

.main {
  display: flex;
  padding-bottom: 4rem;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 0;
  max-width: 48.75rem;
  margin-left: auto;
  margin-right: auto;
}

#search {
  margin-top: 2rem;
}

.eleventy-plugin-youtube-embed {
  margin-bottom: 3em;
}

.talk {
  margin-bottom: 30px;
  margin-left: 30px;
}

.talk h3 {
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

.talk pre {
  border: none;
  padding-top: 0;
  margin-top: 0;
  padding-left: 0;
}

.talk a {
  text-decoration: none;
  color: #7f7f7f;
}

.header-anchor {
  text-decoration: none;
  margin-left: 0.25em;
  font-weight: normal;
  visibility: hidden;
}

h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor,
h6:hover .header-anchor {
  visibility: visible;
}

.pinned-border {
  border-left: 4px solid #ffe600;
  padding-left: 0.75rem;
}