Redirect 301 "2018words" "3words2018"
Redirect 301 "30mins" "https://calendly.com/fharper/30mins"
Redirect 301 "40-life-tips-1" "40-life-tips-01"
Redirect 301 "40-life-tips-2" "40-life-tips-02"
Redirect 301 "40-life-tips-3" "40-life-tips-03"
Redirect 301 "6-months-at-digitalocean" "6months-at-do"
Redirect 301 "articles" "ideas"
Redirect 301 "asking-for-sponsorship-to-speak-a-lack-of-respect-for-the-attendees" "sponsorshiptospeak"
Redirect 301 "bonne-st-jean-3" "bonne-st-jean"
Redirect 301 "book-html-css-design-and-build-websites" "html-css-design-book"
Redirect 301 "book" "https://link.springer.com/book/10.1007/978-1-4842-0001-8"
Redirect 301 "book" "https://www.goodreads.com/book/show/39795740-success-in-programming"
Redirect 301 "chromeextensions" "chrome-extensions"
Redirect 301 "coffee" "https://calendly.com/fharper/coffee"
Redirect 301 "cornucopia-of-call-for-speakers-tips" "cfps"
Redirect 301 "devrelshow-guest" "https://docs.google.com/forms/d/e/1FAIpQLSc742r8gmMDciNXNa9NwlEoLyhzlXopLjVYVeogUxTFut0iUg/viewform?usp=sf_link"
Redirect 301 "devrelshow/guest" "https://fred.dev/devrelshow/#want_to_be_a_guest"
Redirect 301 "employee-cost" "http://web.mit.edu/e-club/hadzima/how-much-does-an-employee-cost.html"
Redirect 301 "finding-happiness-in-the-small-things" "smallthings"
Redirect 301 "first-impression-matter" "firstimpression"
Redirect 301 "guest-blog-posts" "guestblogging"
Redirect 301 "guest-writer" "https://www.devopsdigest.com/why-the-developer-community-will-rule-2022"
Redirect 301 "hiring-cost" "https://www.prnewswire.com/news-releases/bersin-by-deloitte-us-spending-on-recruitment-rises-driven-by-increased-competition-for-critical-talent-300070986.html"
Redirect 301 "in-the-medias" "press"
Redirect 301 "job-titles-are-important" "titles"
Redirect 301 "keynote" "https://www.youtube.com/watch?v=7Cnm20hlkOo"
Redirect 301 "lets-do-epic-shit-together" "jobsearch"
Redirect 301 "linkedin" "https://www.linkedin.com/in/fredericharper"
Redirect 301 "looking-for-a-job-or-an-employee-this-is-how-i-can-help-you" "job-help"
Redirect 301 "media-interview" "https://www.youtube.com/watch?v=7Kxo_QwtOj0"
Redirect 301 "media-quoted" "https://www.businesswire.com/news/home/20211207005248/en/Mindee-Introduces-Advanced-Open-Source-Optical-Character-Recognition-with-docTR"
Redirect 301 "my-3-words-for-2013" "3words2013"
Redirect 301 "my-3-words-for-2014" "3words2014"
Redirect 301 "my-3-words-for-2015" "3words2015"
Redirect 301 "my-3-words-for-2016" "3words2016"
Redirect 301 "my-3-words-for-2017" "3words2017"
Redirect 301 "my-3-words-for-2018" "2018words"
Redirect 301 "my-english-nearly-three-years-after" "my-english"
Redirect 301 "my-home-office-recording-setup" "uses"
Redirect 301 "no-bullshit-policy" "nobullshit"
Redirect 301 "non-tech-talk" "https://www.youtube.com/watch?v=qAk2pmiyWJg"
Redirect 301 "online-is-good-offline-is-the-secret-sauce" "onlinevsoffline"
Redirect 301 "personal-branding-the-recording-of-my-presentation" "kws-personalbranding"
Redirect 301 "personalbranding-talk" "https://www.youtube.com/watch?v=qAk2pmiyWJg"
Redirect 301 "podcast-do" "https://www.youtube.com/watch?v=zmglIW_ZNGY"
Redirect 301 "samples-of-past-work" "work"
Redirect 301 "saving-your-keystrokes" "keystrokes"
Redirect 301 "some-people-are-toxic-run-while-you-can" "toxic"
Redirect 301 "speaking/slides" "slides"
Redirect 301 "stop-glorifying-busyness" "busy"
Redirect 301 "tech-talk" "https://www.youtube.com/watch?v=DWd5cL3ViTY"
Redirect 301 "technical-evangelist-where-soft-skills-become-hard-skills" "softskills"
Redirect 301 "the-50-questions-you-want-to-ask-when-applying-for-a-technical-evangelist-role" "50questions"
Redirect 301 "the-day-i-lost-my-mother" "maman"
Redirect 301 "the-day-i-wanted-to-kill-myself" "mentalhealth"
Redirect 301 "the-www-and-me" "www"
Redirect 301 "time-to-hire" "https://www.cnbc.com/2021/08/06/these-industries-have-the-slowest-hiring-times-according-to-linkedin-.html"
Redirect 301 "tutorial-video" "https://www.youtube.com/watch?v=WkCKycDUgmU"
Redirect 301 "video-do" "https://www.digitalocean.com/products/managed-databases-mysql?wvideo=hvhpcae0xs"
Redirect 301 "video-mindee" "https://www.youtube.com/watch?v=VvOOOYn38ws"
Redirect 301 "what-is-a-developer-advocate" "developeradvocate"
Redirect 301 "why-i-wont-write-code-demos-articles-or-new-talks-in-your-interview-process" "nocodedemo"
Redirect 301 "writing-announcement" "https://blog.npmjs.org/post/180599338975/401-scoped-packages.html"
Redirect 301 "writing-non-tech" "https://fred.dev/publicspeaking"
Redirect 301 "youtube" "https://www.youtube.com/fharper"
