name: Deploy
on:
  push:
    branches: [main]
  workflow_dispatch:
  schedule:
    # Run every day at 1:00 AM UTC
    - cron: '0 1 * * *'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repository
        uses: actions/checkout@v4.2.2

      - name: Install depencies
        run: yarn install

      - name: Build website
        env:
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
        run: yarn build

      - name: Copy site to DigitalOcean
        uses: burnett01/rsync-deployments@7.0.1
        with:
          switches: --checksum --delete --human-readable --ignore-errors --progress --recursive --stats --times --verbose
          path: public/
          remote_path: ${{ secrets.SSH_PATH }}
          remote_host: ${{ secrets.SSH_HOST }}
          remote_user: ${{ secrets.SSH_USERNAME }}
          remote_key: ${{ secrets.SSH_KEY }}
